<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>

<body>
<h1>Новый пользователь</h1>
<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
  <label for="username">Имя</label>
  <input type="text" th:field="*{username}" id="username">
  <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">First Name error</div>
  <br>
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id="email">
  <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">First Name error</div>
  <br>
  <label for="password">Пароль</label>
  <input type="password" th:field="*{password}" id="password">
  <br>
  <label for="role">Role</label>

  <select th:field="*{roles}" th:type="text" id="role">
    <option th:each="role : ${roles}"
            th:value="${{role}}"
            th:text="${role.getName()}">

    </option>
  </select>
  <br/>
  <input type="submit" value="Create">
</form>
</body>
</html>